@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --cor-texto: #F5F5F5;
    --cor-fundo: #272727;
    --cor-fundo-claro: #3C5B6F;
    --cor-destaque: #F99417;
    --vermelho: #FF7676;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--cor-fundo);
}


/* Titulo da página e campo de texto (Topo) */ 
.topo-pagina {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.topo-titulo {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--cor-texto);
}

.topo__campo-texto {
    display: flex;
    gap: 2px;
    justify-content: center;
}

.topo__campo-texto-input {
    padding: 8px 16px;
    font-size: 1.25rem;
    outline: none;
    border-radius: 8px;
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto);
    border: 1px solid var(--cor-fundo);
    transition: 200ms;
}

.botao-adicionar {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 1.25rem;
    border-radius: 8px;
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto);
    border: 1px solid var(--cor-fundo);
    transition: 200ms;
}

.icone {
    width: 24px;
    height: 24px;
}

.campo-quantidade {
    width: 10%;
}

.topo__campo-texto-input:hover, .topo__campo-texto-input:focus, 
.botao-adicionar:hover {
    border: 1px solid var(--cor-destaque);
}

.topo__campo-texto-input::placeholder {
    color: var(--cor-fundo);
}

.legenda {
    color: var(--vermelho);
    text-align: center;
}

/* Itens da lista */
.lista {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}


.lista-item {
    display: flex;
    background-color: var(--cor-fundo-claro);
    align-items: center;
    justify-content: space-between;
    width: 40%;
    border-radius: 8px;
    border: 1px solid var(--cor-fundo);
    padding: 8px 16px;
    transition: 400ms;
}

.lista-item:hover {
    border: 1px solid var(--cor-destaque);
}

.lista-inicio {
    display: flex;
    align-items: center;
    width: 90%;
}

.lista-check {
    height: 32px;
    cursor: pointer;
    transition: 200ms;
}

.lista-info__container {
    margin: 0 8px;
    display: flex;
    flex-direction: column;
}

.lista-info__texto {
    color: var(--cor-texto);
    font-size: 1.25rem;
    width: 100%;
}

.lista-info__quantidade {
    color: var(--cor-texto);
    font-size: 1rem;
}

.texto-cinza {
    font-size: 0.87rem;
    color: #363062;
    font-weight: 700;
}

.lista-icons__remove {
    cursor: pointer;
}

.lista-fundo__vermelho {
    background-color: #FF7676;
    opacity: 0.4;
    transition: 400ms;
}

.texto-riscado {
    text-decoration: line-through;
    transition: 400ms;
}

.texto-vermelho {
    color: #f84848;
    transition: 400ms;
}

@media (max-width: 1024px) {
    .lista-item {
        width: 70%;
    }
}

@media (max-width: 370px) {
    .lista-item {
        width: 85%;
    }

    .campo-item {
        width: 200px;
    }

    .topo-titulo {
        font-size: 2rem;
    }
}